@model Eventi.Web.Areas.Administrator.Models.AdministratorVM

<link href="~/css/admin-profil.css" rel="stylesheet" />

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" value="@Model.ID" hidden />
            <input asp-for="AccountID" value="@Model.AccountID" hidden />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <input class="btn btn-secondary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
@*<div class="col-md-4">
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Nazad</a>
        <a class="btn btn-secondary" asp-controller="Administrator" asp-action="Uredi" asp-route-id="@Model.Id">Uredi</a>
        <a class="btn btn-secondary" asp-controller="Administrator" asp-action="PromijeniPassword" asp-route-id="@Model.Id">Promijeni password</a>
    </div>*@
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
