@model Eventi.Web.Areas.Administrator.Models.AdministratorVM

<link href="~/css/admin-profil.css" rel="stylesheet" />

<div>
    <h4>@Model.Ime @Model.Prezime</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Snimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" value="@Model.Id" hidden />
            <input asp-for="LogPodaciId" value="@Model.LogPodaciId" hidden />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <input class="btn btn-secondary" type="submit" value="Snimi" />
            </div>
        </form>
    </div>
</div>
@*<div class="col-md-4">
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Nazad</a>
        <a class="btn btn-secondary" asp-controller="Administrator" asp-action="Uredi" asp-route-id="@Model.Id">Uredi</a>
        <a class="btn btn-secondary" asp-controller="Administrator" asp-action="PromijeniPassword" asp-route-id="@Model.Id">Promijeni password</a>
    </div>*@
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
