
@{
    ViewData["Title"] = "KupiKartu";
    string error_Msg = (string)TempData["error_Msg"];
}
@model Eventi.Web.Areas.Client.Models.KupiKartuVM



@foreach (var tp in Model.TipoviProdaje)
{
    if (tp.IsRasprodano == true)
    {
        <p>@tp.TipKarte karte su rasprodane</p>
    }
}                                                                     
<form ajax-poziv="da" action="/ModulKorisnik/Korisnik/KupovinaSnimi" ajax-rezultat="ajaxDiv" class="form">
    <input type="hidden" asp-for="EventId" value="@Model.EventId" />
    <input type="hidden" asp-for="KorisnikId" value="@Model.KorisnikId" />
    <input type="hidden" asp-for="KorisnikIme" value="@Model.KorisnikIme" />
    <input type="hidden" asp-for="KorisnikPrezime" value="@Model.KorisnikPrezime" />
    <input type="hidden" asp-for="KorisnikAdresa" value="@Model.KorisnikAdresa" />
    <input type="hidden" asp-for="KorisnikGrad" value="@Model.KorisnikGrad" />

    <select asp-for="OdabraniTipProdajeId" class="form-control">
        <option value="0" disabled>Odaberite tip karte</option>
        @foreach (var tp in Model.TipoviProdaje)
        {
            if (tp.IsRasprodano == false)
            {
                <option value="@tp.ProdajaTipId">@tp.TipKarte</option>
            }
        }
    </select>
    <br />
    <input asp-for="OdabranBrKarata" type="number" min="1" value="1" class="form-control" />
    <br />
    <input type="submit" value="Potvrdi" class="btn btn-success" />
</form>
<div id="errorDiv">
    @if (error_Msg != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@error_Msg</strong> Pokusajte ponovo!
        </div>
    }
</div>


<script>
    $(document).ready(
        function(){
            $("form[ajax-poziv='da']").submit(function(event) {
                $(this).attr("ajax-poziv","dodan");
                event.preventDefault();
                var urlPoziv = $(this).attr("action");
                var divRezultat = $(this).attr("ajax-rezultat");

                var form = $(this);
                $.ajax({
                    type:"POST",
                    url:urlPoziv,
                    data:form.serialize(),
                    success: function (data) {
                       $("#ajaxDiv").html(data);
                    }

                });
            });
        });
</script>

 