@model Event_Attender.Web.Areas.Administrator.Models.DrzavaDisplayVM

<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminDrzavaDisplay", Model);}
    <div id="Main-Display">
        
            <div>

                <h4>@Html.DisplayFor(model => model.OnDisplay.Naziv)</h4>
                <hr />
                <form asp-area="Administrator" asp-controller="Searchbar" asp-action="SnimiDrzava">
                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Id)
                    </label>
                    <input type="text" name="Id" value="@Html.DisplayFor(model => model.OnDisplay.Id)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
                    </label>
                    <input type="text" name="Naziv" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)"/>

                    <input type="submit" value="Snimi" class="btn btn-success" />
                </form>
            </div>
    </div>
</div>
