@model Event_Attender.Web.Areas.Administrator.Models.EventVM
@using Event_Attender.Web.Helper
@{ 
    Layout = null;
}

<h4>EventVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_EventFormaAddSnimi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumOdrzavanja" class="control-label"></label>
                <input asp-for="DatumOdrzavanja" class="form-control" />
                <span asp-validation-for="DatumOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeOdrzavanja" class="control-label"></label>
                <input asp-for="VrijemeOdrzavanja" class="form-control" />
                <span asp-validation-for="VrijemeOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategorija" class="control-label"></label>
                <select name="Kategorija" class="form-control">
                    @{var tipovi = new SelectList(Enum.GetValues(typeof(Kategorija)));}
                    @foreach (var item in tipovi)
                    {
                        <option value="@item.Text">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="Kategorija" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOdobren" /> @Html.DisplayNameFor(model => model.IsOdobren)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOtkazan" /> @Html.DisplayNameFor(model => model.IsOtkazan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Slika" class="control-label"></label>
                <input asp-for="Slika" class="form-control" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizatorId" class="control-label"></label>
                <select asp-for="OrganizatorId" asp-items="Model.Organizatori" class="form-control"></select>
                <span asp-validation-for="OrganizatorNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministratorId" class="control-label"></label>
                <select asp-for="AdministratorId" asp-items="Model.Administratori" class="form-control"></select>
                <span asp-validation-for="AdministratorNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProstorOdrzavanjaId" class="control-label"></label>
                <select asp-for="ProstorOdrzavanjaId" asp-items="Model.Prostori" class="form-control"></select>
                <span asp-validation-for="ProstorOdrzavanjaNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <h4>@Html.DisplayFor(model => model.OnDisplay.Naziv)</h4>
    <hr />
    <form asp-area="Administrator" asp-controller="Searchbar" asp-action="SnimiEvent">
        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.Id)
        </label>
        <input type="text" name="Id" value="@Html.DisplayFor(model => model.OnDisplay.Id)" readonly />

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
        </label>
        <input type="text" name="Naziv" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" />

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.Opis)
        </label>
        <input type="text" name="Opis" value="@Html.DisplayFor(model => model.OnDisplay.Opis)" />

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.DatumOdrzavanja)
        </label>
        <input type="date" name="Datum" value="@Html.DisplayFor(model => model.OnDisplay.DatumOdrzavanja)" />

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.VrijemeOdrzavanja)
        </label>
        <input type="time" name="Vrijeme" value="@Html.DisplayFor(model => model.OnDisplay.VrijemeOdrzavanja)" />

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.Kategorija)
        </label>
        <select name="Kategorija">
            @{var tipovi = new SelectList(Enum.GetValues(typeof(Kategorija)));}
            @foreach (var item in tipovi)
            {
                if (Model.OnDisplay.Kategorija.ToString() == item.Text)
                {
                    <option value="@item.Text" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Text">@item.Text</option>
                }
            }
        </select>


        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.IsOdobren)
        </label>
        @if (Model.OnDisplay.IsOdobren == true)
        {
            <input value="Odobren" name="IsOdobren" type="checkbox" checked />
        }
        else
        {
            <input value="Odobren" name="IsOdobren" type="checkbox" />
        }

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.IsOtkazan)
        </label>
        @if (Model.OnDisplay.IsOtkazan == true)
        {
            <input value="Otkazan" name="IsOtkazan" type="checkbox" checked />
        }
        else
        {
            <input value="Otkazan" name="IsOtkazan" type="checkbox" />
        }

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.ProstorOdrzavanjaNaziv)
        </label>
        <select name="Prostor">
            @{var prostori = new SelectList(Model.Prostori, "Id", "Naziv");}
            @foreach (var item in prostori)
            {
                if (Model.OnDisplay.ProstorOdrzavanjaNaziv == item.Text)
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.OrganizatorNaziv)
        </label>
        <select name="Organizator">
            @{var organizatori = new SelectList(Model.Organizatori, "Id", "Naziv");}
            @foreach (var item in organizatori)
            {
                if (Model.OnDisplay.Naziv == item.Text)
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>

        <label>
            @Html.DisplayNameFor(model => model.OnDisplay.AdministratorNaziv)
        </label>
        <select name="Administrator">
            @{var administratori = new SelectList(Model.Administratori, "Id", "Ime" + " " + "Prezime");}
            @foreach (var item in administratori)
            {
                if (Model.OnDisplay.AdministratorNaziv == item.Text)
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
        <input type="submit" value="Snimi" class="btn btn-success" />
    </form>
</div>*@

