@model Event_Attender.Web.Areas.Administrator.Models.EventDisplayVM
@{
    Layout = null;
}

@if (Model.OnDisplay != null)
{
    <div>
        <h4>@Html.DisplayFor(model => model.OnDisplay.Naziv)</h4>
        <hr />
        <form>
            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.Id)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Id)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.Opis)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Opis)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.DatumOdrzavanja)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.DatumOdrzavanja)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.VrijemeOdrzavanja)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.VrijemeOdrzavanja)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.Kategorija)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Kategorija)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.IsOdobren)
            </label>
            @if (Model.OnDisplay.IsOdobren == true)
            {
                <input type="checkbox" checked readonly />
            }
            else
            {
                <input type="checkbox" readonly />
            }

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.IsOtkazan)
            </label>
            @if (Model.OnDisplay.IsOtkazan == true)
            {
                <input type="checkbox" checked readonly />
            }
            else
            {
                <input type="checkbox" readonly />
            }

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.ProstorOdrzavanjaNaziv)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.ProstorOdrzavanjaNaziv)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.OrganizatorNaziv)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.OrganizatorNaziv)" readonly />

            <label>
                @Html.DisplayNameFor(model => model.OnDisplay.AdministratorNaziv)
            </label>
            <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.AdministratorNaziv)" readonly />
        </form>

    </div>
    <div>
        @*<a class="btn btn-info"
           asp-area="Administrator" asp-controller="Searchbar"
           asp-action="UrediEvent" asp-route-id="@Model.OnDisplay.Id">
            Uredi
        </a>*@
        <div class="uredi btn btn-info" id="@Model.OnDisplay.Id" for="Event">Uredi</div>
        <a class="btn btn-danger"
           asp-area="Administrator" asp-controller="Searchbar"
           asp-action="ObrisiEvent" asp-route-id="@Model.OnDisplay.Id">
            Obriši
        </a>
    </div>
}
