@model Event_Attender.Web.Areas.Administrator.Models.GradDisplayVM

    
<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminGradDisplay", Model);}
    <div id="Main-Display">
        @if (Model.OnDisplay != null)
        {
            <div>

                <h4>@Html.DisplayFor(model => model.OnDisplay.Naziv)</h4>
                <hr />

                <form>
                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Id)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Id)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.DrzavaNaziv)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.DrzavaNaziv)" readonly>
                </form>

            </div>
            <div>
                <a class="btn btn-info"
                   asp-area="Administrator" asp-controller="Searchbar"
                   asp-action="UrediGrad" asp-route-id="@Model.OnDisplay.Id">
                    Uredi
                </a>
                <a class="btn btn-danger"
                   asp-area="Administrator" asp-controller="Searchbar"
                   asp-action="ObrisiGrad" asp-route-id="@Model.OnDisplay.Id">
                    Obriši
                </a>
            </div>
         }
    </div>
</div>
