@model Event_Attender.Web.Areas.Administrator.Models.IzvodjacDisplayVM

<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminIzvodjacDisplay", Model);}
    <div id="Main-Display">
        @if (Model.OnDisplay != null)
        {
            <div>

                <h4>@Model.OnDisplay.Naziv</h4>
                <hr />
                <form>
                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.TipIzvodjaca)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.TipIzvodjaca)" readonly />
                </form>
            </div>
            <div>
                <a class="btn btn-info"
                   asp-area="Administrator" asp-controller="Searchbar"
                   asp-action="UrediIzvodjac" asp-route-id="@Model.OnDisplay.Id">
                    Uredi
                </a>
                <a class="btn btn-danger"
                   asp-area="Administrator" asp-controller="Searchbar"
                   asp-action="ObrisiIzvodjac" asp-route-id="@Model.OnDisplay.Id">
                    Obriši
                </a>
            </div>
        }
    </div>
</div>