@model Event_Attender.Web.Areas.Administrator.Models.OrganizatorDisplayVM

<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminOrganizatorDisplay", Model);}
    <div id="Main-Display">
        
            <div>
                <h4>@Model.OnDisplay.Naziv</h4>
                <hr />
                <form asp-area="Administrator" asp-controller="Searchbar" asp-action="SnimiOrganizator">
                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Id)
                    </label>
                    <input type="text" name="Id" value="@Html.DisplayFor(model => model.OnDisplay.Id)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
                    </label>
                    <input type="text" name="Naziv" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Telefon)
                    </label>
                    <input type="text" name="Telefon" value="@Html.DisplayFor(model => model.OnDisplay.Telefon)" />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.GradNaziv)
                    </label>
                    <select name="Grad">
                        @{var gradovi = new SelectList(Model.Gradovi, "Id", "Naziv");}
                        @foreach (var item in gradovi)
                        {
                            if (Model.OnDisplay.GradNaziv == item.Text)
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>

                    <input type="submit" value="Snimi" class="btn btn-success" />
                </form>

            </div>
    </div>
</div>
