@model Event_Attender.Web.Areas.Administrator.Models.ProstorOdrzavanjaDisplayVM

<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminProstorDisplay", Model);}
    <div id="Main-Display">
        @if (Model.OnDisplay != null)
        {
            <div>
                <h4>@Model.OnDisplay.Naziv</h4>
                <hr />
                <form>
                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Id)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Id)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Adresa)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Adresa)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.GradNaziv)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.GradNaziv)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.TipProstoraOdrzavanja)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.TipProstoraOdrzavanja)" readonly />
                </form>
            </div>
            <div>
                <a class="btn btn-info"
                   asp-area="Administrator" asp-controller="Searchbar"
                   asp-action="UrediProstorOdrzavanja" asp-route-id="@Model.OnDisplay.Id">
                    Uredi
                </a>
                <a class="btn btn-danger"
                   asp-area="Administrator" asp-controller="Searchbar"
                   asp-action="ObrisiProstorOdrzavanja" asp-route-id="@Model.OnDisplay.Id">
                    Obriši
                </a>
            </div>
        }
    </div>
</div>