@model Event_Attender.Web.Areas.Administrator.Models.SponzorDisplayVM

<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminSponzorDisplay", Model);}
    <div id="Main-Display">
        <div>
            @if (Model.OnDisplay != null)
            {
                <h4>@Model.OnDisplay.Naziv</h4>
                <hr />
                <form>
                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Id)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Id)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Naziv)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Naziv)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Telefon)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Telefon)" readonly />

                    <label>
                        @Html.DisplayNameFor(model => model.OnDisplay.Email)
                    </label>
                    <input type="text" value="@Html.DisplayFor(model => model.OnDisplay.Email)" readonly />
                </form>
             }
        </div>
        <div>
            <button>
                @Html.ActionLink("Uredi", "Edit", new { /* id = model.OnDisplay.PrimaryKey */ })
            </button>
            <button>
                @Html.ActionLink("Obriši", "Edit", new { /* id = model.OnDisplay.PrimaryKey */ })
            </button>
        </div>
    </div>
</div>
