
@{
    ViewData["Title"] = "EventDetails";
}

@model Eventi.Web.Areas.Client.Models.EventClientVM

<style>

    #manja, #veca {
        width: 100%; 
    }
    #manja{
        height:250px;
    }
   
    tr {
        border: solid 5px white;
    }

    td {
        width: 50%;
    }

    #prviTd {
        width: 50%;
    }

    #drugiTd {
        width: 50%;
        padding-top:0%;
        padding-bottom:0%;
    }

    #likeTd {
        text-align: center;
        background-color: #268c59; 
        height:250px;   /*kao velicina slike*/
        text-align:center;
        line-height:250px;
        
    }

    #kupiKartuTd {
        text-align: center;
        background-color: #58ad67; 
        height:250px;
        text-align:center;
        line-height:250px;
    }

    #likeTd:hover {
        background-color: #ace6b7; 
    }

    #kupiKartuTd:hover {
        background-color: #ace6b7;
    }

    a.tdLink {
        color: white;
    }

   a.tdLink:hover {
       text-decoration: none;
       color: white;
   }
   #linkNaziv{
       color:black;
   }
   #linkNaziv:hover{
        color:forestgreen;
        text-decoration:none;
   }

       
</style>
<h5>
    <strong> 
        <a id="linkNaziv" href="/Client/Client/EventDetails?EventID=@Model.EventID&ClientID=@Model.ClientID">@Model.Name</a>
    </strong>
</h5>
<br />
<div id="ajaxDiv">
    <table id="veca">
        <tr>
            <td id="prviTd">
                @if (Model.Image != null && Model.Image.Equals(" ")==false)
                {
                    <img src="~/images/items/@Model.Image" width="350" height="250" />
                }
                else
                {
                    <img src="~/images/items/events.jpg" width="350" height="250" />
                }
            </td>
            <td id="drugiTd">

                <table id="manja">
                    <tr>
                        <td>
                            <div id="kupiKartuTd">
                                <a class="tdLink" href="/Client/Client/BuyTicket?EventID=@Model.EventID&ClientID=@Model.ClientID" ajax-poziv="karta" ajax-rezultat="ajaxDiv">Buy Ticket</a>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr class="bg-light">

            <td id="treciTd" colspan="2">

                <p>Category: @Model.Category</p>
                <p>Date: @Model.Start - @Model.End</p>
                <p>City: @Model.VenueCity</p>
                <p>Venue: @Model.VenueName  - @Model.VenueAddress</p>
                @if (@Model.Description != null)
                {
                    <p>Description: @Model.Description</p>
                }
            </td>
        </tr>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/KorisnikAjaxSkripta.js"></script>
<script>
    $(document).ready(
        function () {
            $("a[ajax-poziv='karta']").click(function (event) {
                $(this).attr("ajax-poziv", "dodan");
                event.preventDefault();
                var urlPoziv = $(this).attr("href");
                var divRezultat = $(this).attr("ajax-rezultat");
                $.get(urlPoziv, function (data, status) {
                    $("#ajaxDiv").html(data);
                })
            });
        });
</script>

