@using Eventi.Data.Models
@using Eventi.Web.Helper
@*@model Eventi.Web.Areas.Administrator.Models.AdministratorVM*@
@{ 
    LogPodaci user = Context.GetLogiraniUser();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Event Attender</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark box-shadow navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="" asp-action="Index">Početna</a>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-brand" id="AdminUsername"
                           asp-area="Administrator" asp-controller="Administrator"
                           asp-action="AdminProfil" asp-route-id="@user.Id">@user.Username</a>
                    </li>
                    <li>
                        <a class="navbar-brand" id="AdminUsername"
                           asp-area="Administrator" asp-controller="Home"
                           asp-action="Index">Administrator</a>
                    </li>
                    <li>
                        <a class="navbar-brand" id="AdminUsername"
                           asp-area="Administrator" asp-controller="Administrator"
                           asp-action="Poruke">Poruke</a>
                    </li>
                    <li>
                        <a class="navbar-brand"
                           asp-area="" asp-controller="Prijava" asp-action="LogOut">Odjava</a>
                    </li>
                </ul>
            </div>
            </nav>
    </header>
    <main role="main" id="Admin-Layout">
        @RenderBody()
    </main>
    <footer class="footer text-muted bg-dark" style="position: initial;">
        <div class="container">
            &copy; 2019 - Event Attender - <a style="color:white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
