
@{
    ViewData["Title"] = "Detalji";
}

@model Event_Attender.Web.Areas.ModulRadnik.Models.EventDetaljiVM

<h3><strong>@Model.NazivEventa</strong></h3>
<a href="/ModulRadnik/Radnik/ExportDetaljiToExcel?id=@Model.EventId" class="btn btn-success">Exportuj u excel</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tip karte </th>
            <th>Ukupno za prodaju</th>
            <th>Broj prodatih karata</th>
            <th> Broj preostalih karata</th>
            <th>Cijena </th>
            <th>Zarada od tipa (KM)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model.TipoviProdaje)
        {
        <tr>
            <td>@p.TipKarte</td>
            <td>@p.UkupnoKarataTip</td>
            <td>@p.BrojProdatihKarataTip</td>
            <td>@p.BrojPreostalihKarata</td>
            <td>@p.CijenaTip</td>
            <td>@p.ZaradaOdTipa</td>
        </tr>
        }
    </tbody>
</table>
