
@{
    ViewData["Title"] = "Index";
}
<style>
    .table td {
        vertical-align: middle;
        border-top: unset
    }
</style>

@model Eventi.Web.Areas.Client.Models.VisitedEventsVM
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

<nav class="nav pagination">
    @await this.Component.InvokeAsync("Pager",new { pagingList=this.Model})
</nav>
<div id="ajaxRecenzija">

</div>
<br />
<table class="table table-dark">
    <tbody>
        @foreach(var p in Model.Events)
       {
        <tr>
            <td style="width:230px; vertical-align:bottom">
                @if (p.Image == null)
                        {
                <img src="~/images/items/events.jpg" width="290" height="190">
                        }
                        else
                        {
                <img src="~/images/items/@p.Image" width="290" height="190">
                        }
            </td>
            <td>
                <p><strong>@p.Name</strong></p>

                <p>@p.Category</p>
                <p>@p.Start - @p.End</p>
                <p>@p.VenueCity</p>
            </td>
            <td>
                <p>Cijena svih kupljenih karata:</p>
                <p>@p.SumPayed  KM</p>
            </td>
        </tr>

       }
    </tbody>
</table>



