@using Event_Attender.Data.Models
@model Event_Attender.Web.Areas.ModulGuest.Models.PretragaEventaVM
@{
    ViewData["Title"] = "PretraziPoLokaciji";
    
}
<style>
    form {
        margin-top: 2%;
    }

    a.btn {
        color: gray;
        margin-top: 1%;
    }
   
    #pretraga {
        color: grey;
    }
    #pretraga:hover{
        color:black;
    }

    td {
        width: 50%;
    }
</style>

<form>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="lokacija" maxlength="30">
        <div class="input-group-btn">
            <button id="pretraga" class="btn btn-light" type="submit">
                Trazi
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>
@if (Model.Eventi != null)
{
    <table class="table">
        <tbody>
            @foreach (var e in Model.Eventi)
            {
                <tr>

                    <td>
                        <div>
                            @if (e.Slika != null)
                            {
                                <img src="~/images/items/@e.Slika" width="350" height="250" />
                            }
                            else
                            {
                                <img src="~/images/items/events.jpg" width="350" height="250" />
                            }
                        </div>
                    </td>

                    <td style="padding-top:8%">
                        <div>
                            <strong>@e.Naziv</strong>  <br />
                           
                            @e.ProstorOdrzavanjaNaziv   
                           <br /> 
                            @e.ProstorOdrzavanjaGrad
                       
                           <br />
                            @e.DatumOdrzavanja- @e.VrijemeOdrzavanja h
                            
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-area="" asp-controller="Home" , asp-action="Index" class="btn btn-light">Nazad na početnu stranicu</a>


