@model Event_Attender.Web.Areas.Administrator.Models.EventVM
@{ 
    Layout = null;
}
<h4>@Model.Naziv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EventUredi" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slika" class="control-label"></label>
                <input asp-for="Slika" type="file" class="form-control" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumOdrzavanja" class="control-label"></label>
                <input asp-for="DatumOdrzavanja" class="form-control" />
                <span asp-validation-for="DatumOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeOdrzavanja" class="control-label"></label>
                <input asp-for="VrijemeOdrzavanja" class="form-control" />
                <span asp-validation-for="VrijemeOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategorija" class="control-label"></label>
                <select asp-for="Kategorija" class="form-control">
                    @{var tipovi = new SelectList(Enum.GetValues(typeof(Kategorija)));}
                    @foreach (var item in tipovi)
                    {
                        if (Model.Kategorija.ToString() == item.Text)
                        {
                            <option value="@item.Text" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Text">@item.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="Kategorija" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOdobren" /> @Html.DisplayNameFor(model => model.IsOdobren)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOtkazan" /> @Html.DisplayNameFor(model => model.IsOtkazan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OrganizatorNaziv" class="control-label"></label>
                <select asp-for="OrganizatorId" asp-items="Model.Organizatori" class="form-control"></select>
                <span asp-validation-for="OrganizatorNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministratorNaziv" class="control-label"></label>
                <select asp-for="AdministratorId" asp-items="Model.Administratori" class="form-control"></select>
                <span asp-validation-for="AdministratorNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProstorOdrzavanjaNaziv" class="control-label"></label>
                <select asp-for="ProstorOdrzavanjaId" asp-items="Model.Prostori" class="form-control"></select>
                <span asp-validation-for="ProstorOdrzavanjaNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary"
                       asp-area="Administrator" asp-controller="Home" asp-action="EventSnimi" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-area="Administrator" asp-controller="Home" asp-action="Index">Back to List</a>
</div>*@
