@model Eventi.Web.Areas.Administrator.Models.ProstorOdrzavanjaVM
@using Eventi.Data.Models
@{
    Layout = null;
}
<h4>@Model.Naziv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProstorSnimi" class="ea-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipProstoraOdrzavanja" class="control-label"></label>
                <select asp-for="TipProstoraOdrzavanja" class="form-control">
                    @{var tipovi = new SelectList(Enum.GetValues(typeof(TipProstoraOdrzavanja)));}
                    @foreach (var item in tipovi)
                    {
                        if (Model.TipProstoraOdrzavanja.ToString() == item.Text)
                        {
                            <option value="@item.Text" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Text">@item.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="TipProstoraOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradNaziv" class="control-label"></label>
                <select asp-for="GradId" asp-items="Model.Gradovi" class="form-control"></select>
                <span asp-validation-for="GradNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-primary"
                       asp-area="Administrator" asp-controller="Home" asp-action="ProstorSnimi" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-area="Administrator" asp-controller="Home" asp-action="Index">Back to List</a>
</div>*@

