@using Eventi.Web.Areas.Organizer.ViewModels

@{
    Layout = null;
    var eventInfo = (EventVM) ViewData["eventInfo"];
    var prodajaTipInfo = (List<OrganizatorProdajaTipVM>) ViewData["_prodajaTipInfo"];
}

@model SnimiProdajaTipVM

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Organizator panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background: rgb(136,172,140);
            background: linear-gradient(90deg, rgba(136,172,140,1) 0%, rgba(87,132,185,1) 100%); 
        }

        #navBrand {
            color: rgb(92,92,92);
            font-weight: bold;
        }

            #navBrand:hover {
                color: white;
            }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 80px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: rgb(86, 219, 121);
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            max-width: 460px;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        #modalDugme:hover {
            color: white;
        }

        #modalDugme {
            color: rgb(92,92,92);
            font-weight: bold;
        }

        #navBrand {
            color: rgb(92,92,92);
            font-weight: bold;
        }

            #navBrand:hover {
                color: white;
            }

        .dugmic:focus,
        .dugmic:hover {
            cursor: pointer;
        }

        #mojWell {
            background: rgba(58, 61, 66,0.3);
            border: none;
            border-radius: 0px;
        }

        .naslovEventa {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 30px;
font-family: 'Roboto', sans-serif;
        }

        .textEventa {
            text-align: center;
            font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight:bold;
            color:white;
        }

        .imageCenter {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .mojeDugme {
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            padding: 10px;
            background-color: cornsilk;
            border-radius: 4px;
            text-align: center;
        }

        .slikaEventa {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav style="border-radius: 0px; box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.48);
                 background-color:rgb(141, 242, 167);" class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a id="navBrand" class="navbar-brand" href="Index">Organizator panel</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dugmic"><a id="modalDugme">Generisi kartu</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a class="navbar-brand"
                               asp-area="" asp-controller="Prijava" asp-action="LogOut">Odjava</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row">
            <div id="mojWell" class="col-md-6 well">
                <div class="imageCenter">
                    <img class="img-responsive slikaEventa" style="width: 500px; height: 150px;" src="@Url.Content("~/images/items/" + eventInfo.Image)" alt="">
                </div>
                <br />
                <div >
                    <h4 class="textEventa">Naziv : @eventInfo.Name</h4>
                </div>
                <div >
                    <h4 class="textEventa">Kategorija : @eventInfo.EventCategory.ToString()</h4>
                </div>
                <div>
                    <h4 class="textEventa">Opis eventa : @eventInfo.Description</h4>
                </div>
                <div >
                    <h4 class="textEventa">Mjesto odrzavanja : @eventInfo.VenueName</h4>
                </div>
                <div >
                    <h4 class="textEventa">Datum odrzavanja :  @eventInfo.Start</h4>
                </div>
                <div>
                    <h4 class="textEventa">Vrijeme odrzavanja : @eventInfo.End</h4>
                </div>
                <div >
                    @if (eventInfo.IsApproved)
                    {<h4 class="textEventa">Approved : Yes</h4> }
                    else
                    { <h4 class="textEventa">Approved : No</h4>}
                </div>
                <div >
                    @if (eventInfo.IsCanceled)
                    {<h4 class="textEventa">Canceled : Yes</h4> }
                    else
                    { <h4 class="textEventa">Canceled : No</h4>}
                </div>
                <div class="textEventa mojeDugme">
                    @if (eventInfo.IsCanceled)
                    { <a href="OdobriEvent?EventID=@eventInfo.ID">Ukini otkazivanje</a> }
                    else
                    { <a href="OtkaziEvent?EventID=@eventInfo.ID">Otkazi event</a>}
                </div>
            </div>
    
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th  scope="col">Tip Karte</th>
                            <th scope="col">Ukupno karata u prodaji</th>
                            <th scope="col">Broj prodatih karata</th>
                            <th scope="col">Cijena karte</th>
                            <th scope="col">Postoje sjedista</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in prodajaTipInfo)
                        {

                            <tr class="info">
                                <td>@i._tipKarte</td>
                                <td>@i._ukupnoKarataTip</td>
                                <td>@i._brojProdatihKarataTip</td>
                                <td>@i._cijenaTip</td>
                                @if (i._postojeSjedista == "True")
                                {
                                    <td>DA</td>
                                }
                                else
                                {
                                    <td>NE</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div id="modalForma" class="modal">

            <div class="modal-content">
                <span class="close">&times;</span>
                <form asp-action="SnimiProdajaTip" method="post">

                    <input hidden asp-for="_eventID" value="@eventInfo.ID" />

                    <label for="tipKarteCmb">Tip karte : </label>
                    <select required id="tipKarteCmb" asp-for="_tipKarteCombo">
                        <option value="" disabled selected>odaberite tip</option>
                        <option value="0">VIP</option>
                        <option value="1">Parter</option>
                        <option value="2">Tribina</option>
                        <option value="3">Obicna</option>
                    </select>


                    <div class="form-group">
                        <label for="cijenaTip">Cijena karte : </label>
                        <input required type="number" class="form-control" id="cijenaTip" asp-for="_cijenaTip">
                    </div>

                    <label>Postoje sjedista :</label>

                    <div class="radio">
                        <label><input required type="radio" asp-for="_postojeSjedista" value="1">Da</label>
                    </div>

                    <div class="radio">
                        <label><input required type="radio" asp-for="_postojeSjedista" value="0">Ne</label>
                    </div>

                    <div class="form-group">
                        <label for="ukupnoKarata">Broj karata za izdavanje :</label>
                        <input required type="number" class="form-control" id="ukupnoKarata" asp-for="_ukupnoKarataTip">
                    </div>


                    <br />
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>

        <script>
            var modal = document.getElementById("modalForma");
            var dugme = document.getElementById("modalDugme");
            var span = document.getElementsByClassName("close")[0];

            dugme.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </div>



</body>
</html>
